---
name: "Infralovers Changelog Automation template"

on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write

jobs:
  prebuild:
    uses: ./.github/workflows/pre-commit.yml
    secrets:
      BOT_ACCESS_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  release:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/release.yml
    secrets:
      BOT_ACCESS_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
