---
name: "Infralovers Changelog Automation template"

on:
  workflow_call:

jobs:
  prebuild:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit

  release:
    needs: [prebuild]
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/release.yml
    secrets: inherit
