name: Remove old artifacts

on:
  workflow_call:

  # schedule:
  #   # Every day at 1am
  #   - cron: '0 1 * * *'
  # workflow_dispatch:


jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '14 days' # '<number> <unit>', e.g. 5 days, 2 years, 90 seconds, parsed by Moment.js
        skip-recent: 1
        skip-tags: false
