---
name: Pre-Commit validation

on:
  workflow_call:
    secrets:
      BOT_ACCESS_TOKEN:
        description: "The GitHub token for the bot account"
        required: true
    inputs:
      skip:
        description: "Comma-separated list of hooks to skip"
        required: false
        default: ""
        type: string
    outputs:
      version:
        description: "The version of the release"
        value: ${{ jobs.pre-commit.outputs.version }}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semrel.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Check pre-commit presence
        id: precommit_exists
        uses: andstor/file-existence-action@v3
        with:
          files: ".pre-commit-config.yaml"

      - name: Check mise presence
        id: mise_exists
        if: steps.precommit_exists.outputs.files_exists == 'true'
        uses: andstor/file-existence-action@v3
        with:
          files: ".mise.toml"

      - name: Setup mise if not present
        if: steps.mise_exists.outcome == 'success' && steps.mise_exists.outputs.files_exists == 'false'
        run: |
          cat << 'EOF' > .mise.toml
          [tools]
          pre-commit = "latest"
          EOF

      - name: Setup tools
        if: steps.mise_exists.outcome == 'success'
        uses: jdx/mise-action@v2

      - uses: pre-commit/action@v3.0.1
        if: steps.precommit_exists.outputs.files_exists == 'true'
        env:
          SKIP: ${{ inputs.skip }}

      - uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.BOT_ACCESS_TOKEN }}
          prepend: true
          dry: true
