---
name: Terraform Testing - Directory

on:
  workflow_call:
    inputs:
      sourceDir:
        description: "Terraform directory to analyze"
        required: true
        default: "."
        type: string
      test_timeout:
        description: "Test timeout"
        required: false
        default: "30m"
        type: string
      terraform_version:
        description: "Terraform version"
        required: false
        default: "1.9.0"
        type: string
      aws_region:
        description: "AWS region"
        required: false
        default: "eu-central-1"
        type: string
      aws_role:
        description: "AWS role"
        required: false
        default: "training"
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  terratest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if ${{ inputs.sourceDir }} changed
        id: detect
        uses: tj-actions/changed-files@v44
        with:
          path: ${{ inputs.sourceDir }}

      - name: Check mise presence
        id: mise_exists
        uses: andstor/file-existence-action@v3
        with:
          files: ".mise.toml"

      - name: Setup mise if not present
        if: steps.mise_exists.outcome == 'success' && steps.mise_exists.outputs.files_exists == 'false'
        run: |
          cat << 'EOF' > .mise.toml
          [tools]
          pre-commit = "latest"
          go = "latest"
          terraform = "${{ inputs.terraform_version }}"
          EOF

      - name: Setup tools
        uses: jdx/mise-action@v2

      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault.infralovers.cloud:8200
          method: jwt
          path: jwt_github
          role: tf_mod
          secrets: |
            aws/dev/${{ inputs.aws_region }}/creds/${{ inputs.aws_role }} * | AWS_;
            kv/data/op/terraform_il_machine Token | TFE_TOKEN;

      - name: Run Tests
        if: steps.detect.outputs.all_changed_files != '' || github.event_name == 'workflow_dispatch'
        shell: bash
        working-directory: ${{ inputs.sourceDir }}
        env:
          AWS_REGION: ${{ inputs.aws_region }}
          AWS_ACCESS_KEY_ID: ${{ steps.import-secrets.outputs.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.import-secrets.outputs.AWS_SECRET_KEY }}
        run: |
          go install github.com/jstemmer/go-junit-report@latest
          go test -timeout ${{ inputs.test_timeout }} -v ./... | go-junit-report -set-exit-code > report.xml

      - name: Post Test Summary
        uses: test-summary/action@v2
        with:
          paths: |
            ${{ inputs.sourceDir }}/report.xml
        if: always()
