---
name: Terraform Testing - Directory

env:
  VAULT_ADDR: "https://vault.infralovers.cloud:8200"
  ARM_SUBSCRIPTION_ID: 06e7b06d-ce0c-4e32-9773-134e6e7adc5f
  ARM_TENANT_ID: 799c31c1-7d99-440c-bea1-efe48d1ddd6f

on:
  workflow_call:
    inputs:
      sourceDir:
        description: "Terraform directory to analyze"
        required: true
        default: "."
        type: string
      test_timeout:
        description: "Test timeout"
        required: false
        default: "30m"
        type: string
      terraform_version:
        description: "Terraform version"
        required: false
        default: "1.9.0"
        type: string
      aws_region:
        description: "AWS region"
        required: false
        default: "eu-central-1"
        type: string
      aws_role:
        description: "AWS role"
        required: false
        default: "training"
        type: string
      azure_subscription:
        description: "Azure subscription"
        required: false
        default: "il-development"
        type: string
      azure_role:
        description: "Azure role"
        required: false
        default: "contributor"
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  terratest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if ${{ inputs.sourceDir }} changed
        id: detect
        uses: tj-actions/changed-files@v44
        with:
          path: ${{ inputs.sourceDir }}

      - name: Check mise presence
        id: mise_exists
        uses: andstor/file-existence-action@v3
        with:
          files: ".mise.toml"

      - name: Setup mise if not present
        if: steps.mise_exists.outcome == 'success' && steps.mise_exists.outputs.files_exists == 'false'
        run: |
          cat << 'EOF' > .mise.toml
          [tools]
          pre-commit = "latest"
          go = "latest"
          terraform = "${{ inputs.terraform_version }}"
          EOF

      - name: Setup tools
        uses: jdx/mise-action@v2

      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault.infralovers.cloud:8200
          method: jwt
          path: github
          role: terratest
          exportToken: true
          secrets: |
            aws/dev/${{ inputs.aws_region }}/creds/${{ inputs.aws_role }} * | AWSD_;
            azure/${{ inputs.azure_subscription }}/creds/${{ inputs.azure_role }} * | ARM_;
            kv/data/op/terraform_il_machine Token | TFE_TOKEN;

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ inputs.terraform_version }}
          cli_config_credentials_token: ${{ steps.import-secrets.outputs.TFE_TOKEN }}

      - name: Wait for AWS Credentials
        env:
          AWS_REGION: ${{ inputs.aws_region }}
          AWS_ACCESS_KEY_ID: ${{ steps.import-secrets.outputs.AWSD_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.import-secrets.outputs.AWSD_SECRET_KEY }}
        run: |
          if command -v aws >/dev/null 2>&1; then
            echo "AWS CLI is already installed."
          else
            mise use aws
          fi
          until aws sts get-caller-identity; do
            echo "Waiting for AWS credentials to be available..."
            sleep 5
            if [ $SECONDS -gt 60 ]; then
              echo "Timed out waiting for AWS credentials."
              exit 1
            fi
          done

      - name: Run Tests
        if: steps.detect.outputs.all_changed_files != '' || github.event_name == 'workflow_dispatch'
        shell: bash
        working-directory: ${{ inputs.sourceDir }}
        env:
          AWS_REGION: ${{ inputs.aws_region }}
          AWS_ACCESS_KEY_ID: ${{ steps.import-secrets.outputs.AWSD_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.import-secrets.outputs.AWSD_SECRET_KEY }}
        run: |
          go mod download
          go test -timeout ${{ inputs.test_timeout }} -v ./...

      # - name: Post Test Summary
      #   uses: test-summary/action@v2
      #   with:
      #     paths: |
      #       ${{ inputs.sourceDir }}/report.xml
      #   if: always()
