---
name: Terraform Testing

on:
    workflow_call:
        inputs:
            sourceDir:
                description: "Terraform directory to analyze"
                required: false
                default: "."
                type: string

permissions:
    contents: read
    id-token: write

jobs:
    find_tf:
        runs-on: ubuntu-latest
        outputs:
            tfdir: ${{ steps.find_tf.outputs.tfdir }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Find Terraform files
              working-directory: ${{ github.event.inputs.sourceDir }}
              id: find_tf
              run: |
                  dirs=$(find . -type f -name "go.mod" -not -path "./examples/*" -not -path "./.terraform/*"  -exec dirname {} \;  | sort | uniq )
                  TFDIR=$( echo "${dirs}" | jq -Rsc 'split("\n")' | jq -rc 'del(.[] | select(. == ""))' )
                  echo "tfdir=${TFDIR}" >> $GITHUB_OUTPUT

    terratest:
        needs: [find_tf]
        strategy:
            matrix:
                tfdir: ${{ fromJson(needs.find_tf.outputs.tfdir) }}
        uses: infralovers/.github/.github/workflows/terratest-dir.yml@main
        with:
            sourceDir: ${{ matrix.tfdir }}
